@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Parcial final</h1>
    <h2 class="my-5">  INTEGRANTES: </h2>
    <p class="display-6">- Mery Elizabeth Acevedo Montoya</p>
    <p class="display-6">- Luis Adrian Alfonzo Moran</p>
    <p class="display-6">- Miguel Angel Braghiroli Lemus</p>
    <p class="display-6">- Marco René Esquivel Juárez</p>
</div>
